---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  {
    title: 'Aplicación Móvil para Gestión de masónica',
    description: 'App movil desarrollada para gestión y organización masónica, asistencias, documentaciones y programación de sus miembros',
    tags: ['Flutter', 'Dart', 'Prisma', 'PostgreSQL', 'Nodejs', 'APIRest', 'SQLite'],
    imageUrl: '/images/Orpheo.png',
  },
  {
    title: 'Bot de discord',
    description: 'Bot de discord especializado en creación y gestión de scrims y torneos.',
    tags: ['Nodejs', 'Discordjs', 'PostgreSQL', 'Discord APIs', 'dotenv', 'Google cloud'],
    imageUrl: '/images/Bot.png',
  },
  {
    title: 'Sistema de Gestión y mantenimiento para Técnico',
    description: 'Aplicación de escritorio para la gestión de servicios, inventario y clientes en talleres mecánicos.',
    tags: ['Python', 'SQLite', 'Desktop App'],
    imageUrl: '/images/project3.jpg',
  },
  {
    title: 'Portafolio Web Personal',
    description: 'Sitio web personal desarrollado con Astro y Tailwind CSS para mostrar proyectos y experiencia profesional.',
    tags: ['Astro', 'Tailwind CSS', 'Web'],
    imageUrl: '/images/Mi_sitio.png',
  }
];
---

<Layout title="Proyectos | Guillermo Villar Pinto">
  <section class="py-12">
    <div class="container mx-auto px-4">
      <h1 class="section-title text-center mx-auto">Mis Proyectos</h1>
      
      <p class="text-center max-w-3xl mx-auto mb-12 text-gray-700 animate-on-scroll">
        Estos son algunos de los proyectos en los que he trabajado. Cada uno representa un desafío superado y conocimientos adquiridos en mi camino como desarrollador.
      </p>
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {projects.map(project => (
          <ProjectCard {...project} />
        ))}
      </div>
      
      <div class="mt-16 text-center animate-on-scroll">
        <h2 class="text-2xl font-bold mb-6">¿Tienes un proyecto en mente?</h2>
        <p class="text-gray-700 mb-8 max-w-2xl mx-auto">
          Estoy abierto a nuevas oportunidades y colaboraciones. Si tienes un proyecto en mente o necesitas ayuda con alguno existente, no dudes en contactarme.
        </p>
        <a href="mailto:Guillermo1858@gmail.com" class="btn">Hablemos de tu proyecto</a>
      </div>
    </div>
  </section>
</Layout>